.todo-item {
    background-color: rgba(0, 0, 255, 0.027);
    margin: 0 auto 3px;
    padding: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;   
}
.todo-item.is-new {
    background-color:rgba(245, 201, 201, 0.61);
}
.todo-item.is-progress {
    background-color: #99cd323f;
}

.todo-item_status {
    font-weight: bold;
}

.todo-item_status.is-done {
    color: blue;
}

.todo-item_status.is-progress {
    color: green;
}

.todo-item_status.is-new{
    color: red;
}